/*Setup MTG Fonts*/

@font-face {
    font-family: 'Beleren Small Caps';
    src: url('./fonts/Beleren-Bold.woff2') format('woff2'),
        url('./fonts/Beleren-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beleren';
    src: url('./fonts/Beleren-Bold.woff2') format('woff2'),
        url('./fonts/Beleren-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matrix';
    src: url('./fonts/Matrix-Bold.woff2') format('woff2'),
        url('./fonts/Matrix-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Relay';
    src: url('./fonts/Relay-Medium.woff2') format('woff2'),
        url('./fonts/Relay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matrix';
    src: url('./fonts/Matrix-Bold.woff2') format('woff2'),
        url('./fonts/Matrix-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Beleren Small Caps';
}

.container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/greenCardBack.png");
    background-color: blue;
    height: 698px;
    width: 500px;
}

.top-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    top: 45px;
    font-size: 1.3rem;
    margin-left: 12%;
}

.card-title-container {
    width: 60%;
}

.card-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
}

.mana-cost-container {
    display: flex;
    justify-content: flex-end;
    width: 18.5%;
    flex-direction: row;
    gap: 5px;
}

.mana-cost {
    position: relative;
    height: 25px;
    display: flex;
}

.mana-neutral {
    height: 25px;
}

.mana-neutral-cost {
    position: absolute;
    font-weight: bold;
    font-size: 1.3rem;
    top: 1px;
    left: 7px;
    z-index: 10;
}

.card-art-container {
    position: static;
}

.card-art {
    position: relative;
    top: 51px;
    left: 45px;
    width: 407px;
    height: 308px
}

.card-type-container {
    margin-top: 12%;
    margin-left: 10%;
}

.card-type {
    font-size: 1.1rem
}