* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 16px;
}

.container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    position: static;
    background-image: url("./imgs/cardBacks/greenCardBack.png");
    background-color: blue;
    height: 698px;
    width: 500px;
}

.card-title-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;
}

.card-title {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;
}

.mana-cost-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.mana-cost {
    position: relative;
    top: 22px;
    right: 70px;
    height: 25px;
}

.mana-neutral {
    height: 25px;
}

.mana-neutral-cost {
    position: absolute;
    font-weight: bold;
    top: 1px;
    left: 7px;
    z-index: 10;
}

.card-art-container {
    position: static;
}

.card-art {
    position: relative;
    top: 59px;
    left: 45px;
    width: 407px;
    height: 308px
}